html,body {
    font-family: "Lato", "Liberation Mono", "Lucidia Sans", "Courier New", monospace;
    color: white;
    background-color: #6E8EBF;
    font-weight: 100;
}

@import url(http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext)

@font-face {
    font-family: "DK";
    src: url(../includes/DKDownwardFall.ttf) format("truetype");
}


.ts {
    font-size: 25;
    font-family: "DK", "Futura", "Liberation Mono", "Lucidia Sans", "Courier New", monospace;
    color: white;
    background-color: #6E8EBF;
}

.home {
    position: relative;
    top: 45%;
    transform: translateY(-55%);
    
    width: 50%;
    margin: 0 auto;
}

.magic {
    position: relative;
    top: 40%;
    transform: translateY(-70%);
    
    width: 50%;
    margin: 0 auto;
}

.submit {
    position: relative;
    top: 10%;
    
    width: 50%;
    margin: 0 auto;
}

.read {
    position: relative;
    top: 10%;
    
    width: 50%;
    margin: 0 auto;
}

.header-wrapper {
    width:50%;
    margin:0 auto;
    padding-top:5%;
}
 
.header {
    display: block;
}

.aboutclass {
    position: relative;
    top: 40%;
    transform: translateY(-70%);
    
    width: 50%;
    margin: 0 auto;
}

.linkclass {
    position: fixed;
    top: 40px;
    left: 30px;
}

.cvclass {
    width: 50%;
    margin: 0 auto;
}

a {
    color: white;
}

img {
    float: left;
}

#images_hz {
    width: 425px;
    height: auto;
    overflow: hidden;
}
#images_hz img {
    display: inline;
    width: 100%;
    height: auto;
    margin: 0 10px;
}

.img-with-text {
    text-align: center;
    width: 500;
}

.img-with-text img {
    display: block;
    margin: 0 auto;
}
.clearfix {
    overflow: auto;
    zoom: 1;
}