html,body {
    height: 100%;
    font-family: "Helvetica", "Liberation Mono", "Lucidia Sans", "Courier New", monospace;
    color: white;
    background-color: #6E8EBF;
}

.magic {
    position: relative;
    top: 40%;
    transform: translateY(-70%);
    
    width: 50%;
    margin: 0 auto;
}

.submit {
    position: relative;
    top: 10%;
    
    width: 50%;
    margin: 0 auto;
}

.read {
    position: relative;
    top: 10%;
    
    width: 50%;
    margin: 0 auto;
}

.header-wrapper {
    width:50%;
    margin:0 auto;
    padding-top:5%;
}
 
.header {
    display: block;
}

.aboutclass {
    position: relative;
    top: 40%;
    transform: translateY(-70%);
    
    width: 50%;
    margin: 0 auto;
}

.linkclass {
    position: fixed;
    top: 40px;
    left: 30px;
}

.cvclass {
    width: 50%;
    margin: 0 auto;
}

a {
    color: white;
}

img {
    float: left;
    padding: 0 25px 25px 0;
}

#images_hz {
    width: 425px;
    height: auto;
    overflow: hidden;
}
#images_hz img {
    display: inline;
    width: 100%;
    height: auto;
    margin: 0 10px;
}

.clearfix {
    overflow: auto;
    zoom: 1;
}