<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="full-width">
    {% include header.html %}
    <article>
      {{ content }}
    </article>
    {% include print-footer.html %}
	<script>
	  (function() {
	    var cx = '012309109243193332464:aa5o5mifvhy';
	    var gcse = document.createElement('script');
	    gcse.type = 'text/javascript';
	    gcse.async = true;
	    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
	    var s = document.getElementsByTagName('script')[0];
	    s.parentNode.insertBefore(gcse, s);
	  })();
	</script>
	<gcse:search></gcse:search>
    {% include footer.html %}
  </body>
</html>
