---
layout: home
---
<head>
	<meta content="Welcome to Alien Mouth" property="og:title" />
	<meta content="Alien Mouth" property="og:site_name" />
	<meta content="http://alienmouth.com" property="og:url" />
	<meta content="Welcome to Alien Mouth. We like to publish new, fun, and good art." property="og:description" />
	<meta content="article" property="og:type" />
	<meta content="http://alienmouth.com/journal/alien.png" property="og:image" />
	<meta content="OjloE54m97kbqRiG7tnMRKDTZoIoG6ojsBDEm08ZGTI" name="google-site-verification" />
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<title>alien mouth</title>
  	<link href="/assets/css/style.css" rel="stylesheet" />
  	<link href="/assets/css/colors-dark.css" rel="stylesheet" />
	<link href="http://alienmouth.com/includes/alien.png" rel="icon" type="image/png" />
</head>
<body>
	<div>{{ content }}</div>
</body>